<form (submit)="onSubmit()" [formGroup]="formPelicula">

  
    <app-form-input class="form-control {{nombre.errors ? 'is-invalid': ''}}" divClass="mb-3" label="Nombre"
      controlName="nombre" type="text">
      <small class="invalid-feedback">Nombre invalido (solo letras)</small>
    </app-form-input>

    <app-form-input class="form-control {{tipo.errors ? 'is-invalid': ''}}" divClass="mb-3" label="Tipo"
    controlName="tipo" type="text">
    <small class="invalid-feedback">Tipo invalido (solo letras)</small>
  </app-form-input>

  <app-form-input class="form-control {{fechaDeEstreno.errors ? 'is-invalid': ''}}" divClass="mb-3" label="fechaDeEstreno"
    controlName="fechaDeEstreno" type="date">
    <small class="invalid-feedback">fechaDeEstreno invalido (solo formato fecha)</small>
  </app-form-input>

  <app-form-input class="form-control {{cantidadDePublico.errors ? 'is-invalid': ''}}" divClass="mb-3" label="cantidadDePublico"
  controlName="cantidadDePublico" type="text">
  <small class="invalid-feedback">cantidadDePublico invalido (solo numeros)</small>
</app-form-input>

<app-form-input class="form-control" divClass="mb-3" label="fotoDePelicula"
  controlName="fotoDePelicula" type="file">
</app-form-input>

  <app-form-input class="form-control {{actor.errors ? 'is-invalid': ''}}" divClass="mb-3"
  label="Actor" controlName="actor" type="text" [readOnly]="true">
  <small class="invalid-feedback">Actor invalido</small>
</app-form-input>
    
  
    <button type="submit" class="btn btn-primary mt-2">Enviar</button>
  </form>